/* @import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');

 
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
} */

:root {
    --max-height-img-card: 230px;
    --white-color: rgb(207, 207, 207);
    --gray-color: rgb(41, 41, 41);
    --background-color-black: #000;
    --yellow-color: #F6D501;
    --height-header: 64px;
    --background-header: #141414;
 
}


* {
    box-sizing: inherit;
}


html {
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
 


@media (min-width: 1200px) {
    .five-columns {
        width: 20%;
        *width: 20%;
    }
}


@media (min-width: 992px) {
    .w-85 {
        width: 85%;
    }

    .spacing-header {
        margin-top: var(--height-header)
    }

    .header-height {
        height: var(--height-header);
    }

    .nav-link--active::after {
        bottom: -20px;
    }
}

@media (max-width: 991px) {
    .spacing-header {
        margin-top: calc(2 * 48px);
    }

    .header-height {
        height: 48px;
    }

    .nav-link--active::after {
        bottom: -1px;
    }
}



.container-xxl {
    background-color: var(--background-color-black);
}

.background-black {
    background-color: var(--background-color-black);
}

.background-header {
    background-color: var(--background-header);
}


.text-white {
    color: var(--white-color) !important;
}

.text-yellow {
    color: var(--yellow-color) !important;
}


.width-inherit {
    width: inherit;
}


.border-color-white {
    border-color: var(--gray-color) !important;
}


.border-color-yellow {
    border-color: var(--yellow-color) !important;
}


.nav-link {
    color: var(--white-color);
    font-weight: 500;
    position: relative;
}

 
.nav-link--active {
    color: var(--yellow-color);
}

.nav-link--active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--yellow-color);
    left: 0;
    transition: all .2s ease-in-out;
}

.fixed-custom{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.rounded-5{
    border-radius: 12px;
}



label {
    cursor: pointer;
}

input,
select,
button {
    outline: none;
}

ul {
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}


::-webkit-scrollbar {
    width: .45rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(129, 129, 129, 0.4);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: #262626;
}


.w-60 {
    width: 60%;
}