.modal-header {
    padding: 0;
}

.account-container .modal-dialog{
    position: relative;
}

.account-container .modal-content {
    max-width: 440px;
    border: none;
    padding: 20px 20px 24px 20px;
    background-color: var(--background-header);
}

.modal-body {
    padding: 0 22px 20px 22px;
}


.form-control-login {
    background-color: transparent;
    border-color: var(--gray-color);
    display: flex;
}

.signin-input-control {
    height: 32px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 17px;
    width: 100%;
    padding-left: 10px;
}

.signin-input-control:focus~.btn-continue {
    border-color: var(--yellow-color) !important;

}

.form-control-login:focus-within {
    border-color: var(--yellow-color) !important;
}

.btn-continue {
    border: none;
    width: 110px;
    color: var(--gray-color-light);
    padding: 2px 10px;
    font-weight: 500;
    border-left: 1px solid;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    background-color: transparent;
}

.btn-continue--active{
    background-color: var(--yellow-color);
    color: var(--background-header);
}

.separate-line {
    width: 100%;
    border-bottom: 1px solid var(--gray-color);
}

.apple-btn {
    width: 100%;
    background-color: var(--background-color-black);
    height: 32px;
    justify-content: center;

}


.google-btn {
    width: 100%;
    height: 32px;
    color: var(--black-color);
    justify-content: center;
}




/* enter password  */

.user-icon{
    color: var(--white-color);
    font-size: 36px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control-password{
    background-color: transparent;
    border-color: var(--gray-color);
    display: flex;
    align-items: center;
    height: 40px;
    padding: 6px 11px;
}

.form-control-password input{
    height: 100%;
    width: 100%;
    padding-left: 8px;
}

.form-control-password:focus-within{
    border-color: var(--yellow-color) !important;
}

.btn-login{
    border: 1px solid var(--gray-color);
    height: 32px;
    color: var(--gray-color-light);
    font-weight: 500;
    padding: 4px 12px;
    display: flex;
    align-items: center;

}

.btn-login:not(:disabled):hover{
    border-color: var(--yellow-color);
    color: var(--yellow-color);
}

.checkbox-control-remember{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.forget-password-btn{
    background-color: transparent;
    border: none;
    color: var(--gray-color-light);
    font-weight: 400;
}

.modal-footer-custom{
    margin-left: -20px;
    margin-right: -20px;
}

.border-bottom-line{
    border-top: 1px solid var(--gray-color);
    padding-top: 10px;

}

.forget-password-btn:hover{
    color: var(--yellow-color);
}




/* register account styles */



.form-control-signup{
    align-items: center;
    padding: 4px 1px 4px 11px;
    background-color: transparent;
    border: 1px solid var(--gray-color);
    height: 32px;
    /* margin-bottom: 12px; */
}

.form-control-signup:focus-within{
    border-color: var(--yellow-color);
}

.form-control-signup--error{
    border-color: var(--red-color) !important;
}

.signup-input-control{
    padding: 1px 2px;
    width: 100%;
}

.signup-btn{
    width: 100%;
    height: 32px;
    background-color: var(--yellow-color);
}
 

.message-error{
    font-size: 15px;
}